<!DOCTYPE html>
<html>
<head lang="en">

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{% block title %}{% endblock %}</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/go.css') }}">

</head>
<body>

{% with messages = get_flashed_messages() %}
    {% if messages %}
<div class="flashes">
    <div class="container">
        {{ messages[-1] }}
    </div>
</div>
    {% endif %}
{% endwith %}

{% block header %}<div class="header"></div>{% endblock %}

{% block content %}{% endblock %}

<script src="{{ url_for('static', filename='js/jquery-1.11.3.min.js') }}"></script>

</body>
</html>
